*{
    background-color: #fff;
    font-family: avenir, sans-serif;
    box-sizing: border-box;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}
@font-face{
    font-family: avenir;
    src: url(./fonts/AvenirLTStd-Roman.otf) format("truetype");
    font-weight: 500;
}

.main-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: max-content;
    padding: 2rem;
    gap: 2rem;
    flex-wrap: wrap; /* Permite que se acomode en pantallas pequeñas */
}

.header-right{
    text-align: left;
}
.main-image{
    display: flex;
    justify-content: center;
    align-items: center;  
}

.main-image img{
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

button{
    background: #252525;
    color: #fff;
    padding: 13px 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

/* Móvil */
@media (max-width: 767px) {
    .main-section {
        flex-direction: column;
        text-align: center;
    }

    .header-right {
        text-align: center;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    .main-section {
        flex-direction: column;
    }

    .header-right {
        text-align: center;
    }
}

/* Escritorio */
@media (min-width: 1024px) {
    .main-section {
        flex-direction: row;
    }
}