* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: avenir, sans-serif;
}

@font-face {
    font-family: avenir;
    src: url(./fonts/AvenirLTStd-Roman.otf) format("opentype");
    font-weight: 500;
}

body {
    background-color: #fff; 
    color: #363830;
}

.hero-section {
    padding: 5rem 0;
}

.container {
    padding: 0 2rem;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    width: 45%;
}

.main-title {
    font-size: 4rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 1.5rem;
}

.description {
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 2rem;
    max-width: 90%;
}

.explore-button {
    background-color: #a67c52;
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 50px;
    font-size: 1.2rem;
    cursor: pointer;
}

.coffee-images {
    width: 50%;
    position: relative;
}


.stats-section {
    padding: 3rem 0;
    position: relative;
}

.stats-container {
    background-color: #f2e6d9;
    border-radius: 50px;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.coffee-icon {
    width: 3rem;
    margin: 0 auto 0.5rem;
}

.stat-number {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.stat-text {
    font-size: 1rem;
    max-width: 80%;
    margin: 0 auto;
}

.gallery-section {
    background-color: #333;
    padding: 4rem 0;
    color: white;
}

.gallery {
    display: flex;
    gap: 1.5rem;
    padding-bottom: 1rem;
}

.gallery-item {
    flex: 0 0 auto;
    width: 15rem;
    border-radius: 15px;
    overflow: hidden;
}

.gallery-item img {
    width: 100%;
    height: max-content;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.gallery-caption {
    padding: 1rem;
    font-size: 1.5rem;
    color: #ccc;
}

@media (max-width: 768px) {
    .hero-section {
        padding: 3rem 1rem;
    }
    .hero-content {
        flex-direction: column;
        text-align: center;
        gap: 2rem;
    }
    .hero-text {
        width: 100%;
        text-align: justify;
    }
    .main-title {
        font-size: 2.5rem;
    }
    .description {
        font-size: 1rem;
        max-width: 100%;
        margin: 0 auto 2rem;
    }
    .explore-button {
        font-size: 1rem;
        padding: 10px 20px;
    }
    .coffee-images img{
        width: 15rem;
        margin-left: -4rem;
    }
    .stats-container {
        flex-direction: column;
        gap: 2rem;
        padding: 2rem 1rem;
        border-radius: 30px;
    }
    .coffee-icon {
        width: 2.5rem;
    }
    .stat-number {
        font-size: 2rem;
    }
    .stat-text {
        font-size: 0.95rem;
    }
    .gallery {
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }
    .gallery-item {
        width: 90%;
    }
    .gallery-caption {
        font-size: 1.2rem;
        text-align: center;
    }
}
