* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: avenir, sans-serif;
}

@font-face {
    font-family: avenir;
    src: url(./fonts/AvenirLTStd-Roman.otf) format("opentype");
    font-weight: 500;
}

body {
    background-color: #fff; 
    color: #363830;
}

.container {
    display: flex;
    min-height: 100vh;
    padding: 4rem 6rem;
    position: relative;
}

.left-section {
    width: 40%;
    padding-right: 2rem;
    position: relative;
}

.title-block h1 {
    font-size: 4rem;
    font-weight: 700;
    color: #000;
    line-height: 1.1;
    margin-bottom: 0.5rem;
}

.description {
    font-size: 1rem;
    line-height: 1.6;
    color: #000;
    margin: 2rem 0;
    max-width: 90%;
    opacity: 0.8;
}

.explore-button {
    background-color: #252525;
    color: #fff;
    border: none;
    padding: 12px 30px;
    border-radius: 50px;
    font-size: 1rem;
    cursor: pointer;
}
.spiral-decoration {
    position: absolute;
    top: 100rem;
    left: 0;
    width: 120px;
}

.right-section {
    width: 60%;
    position: relative;
}

.wave-decoration {
    position: absolute;
    top: 0;
    left: 10rem;
    width: 200px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 1.5rem;
    margin-top: 3rem;
    position: relative;
}

.image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.large-image {
    grid-column: 1;
    grid-row: 1 / span 2;
}

.blue-image {
    grid-column: 2;
    grid-row: 1;
}

.model-image {
    grid-column: 2;
    grid-row: 2;
}

.star-decoration {
    position: absolute;
    width: 100px;
    z-index: 1;
}

.star-decoration-top {
    top: -50px;
    right: -20px;
}

.star-decoration.bottom {
    bottom: -30px;
    right: 40%;
}

.footer {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 10px;
    max-width: 80%;
    margin-left: auto;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 1rem;
    object-fit: cover;
}

.footer p {
    font-size: 0.9rem;
    line-height: 1.5;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 2rem 3rem;
    }
    
    .left-section,
    .right-section {
        width: 100%;
        padding-right: 0;
    }
    
    .left-section {
        margin-bottom: 3rem;
    }
    
    .title-block h1 {
        font-size: 2.8rem;
    }
    
    .image-grid {
        margin-top: 2rem;
    }
    
    .testimonial {
        max-width: 100%;
    }
    .spiral-decoration,
    .wave-decoration {
        width: 50px;
    }
    .image-grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .large-image,
    .blue-image,
    .model-image {
        grid-column: 1;
        grid-row: auto;
    }
    .star-decoration {
        display: none;
    }
}
