* {
    margin: 0;
    padding: 0;
    font-family: avenir, sans-serif;
}

@font-face {
    font-family: avenir;
    src: url(./fonts/AvenirLTStd-Roman.otf) format("opentype");
    font-weight: 500;
}


h1 {
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.1;
    margin-bottom: 1.5rem;
    max-width: 90%;
    color: #000;
    margin: 2rem;
}

body {
    background-color: #fff;
    color: #050505;
    padding: 2rem;
}

span{
    color: #25252580;
    font-weight: bolder;
    font-size: 1.5rem;
}

p {
    color: #333333;
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 2rem;
    max-width: 90%;
}

.main-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    padding: 2rem;
}

.main-cards span {
    font-size: 1.5rem;
    font-weight: bold;
    color: #aaa;
}

.main-cards  p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 1rem;
}

.card {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    height: auto;
    display: block;
}

@media (max-width: 768px) {
    .main-cards {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 1rem;
    }
    h1{
        font-size: 2.3rem;
    }
}